<style>

/* Page background */
body{
    background-color:#f0f8ff;
    font-family: Arial, sans-serif;
}

/* Form container */
form{
    width:400px;
     margin:50px auto;
}

/* Fieldset styling */
fieldset{
     border:2px solid #007BFF;
     padding:20px;
     background-color:blue;
     border-radius:10px;
}

/* Legend title */
legend{
     font-size:20px;
     font-weight:bold;
     color:#007BFF;
}
/* Labels */
label{
     font-weight:bold;
}

/* Text inputs */
input[type="text"]
select,
textarea{
     width:100%
     padding:8px;
     margin-top:5px;
     margin-bottom:15px;
     border:1px solid #ccc;
     border-radius:5px;
}

/* Radio and checkbox spacing */
input[type="radio"],
input[type="checkbox"]{
     margin-right:8px;
}

/* Buttons */
input[type="submit"],
input{type="reset"]{
     background-color:#007BFF;
     color:white;
     border:none;
     padding:10px 20px;
     margin-top:10px;
     border-radius:5px;
     cursor:pointer;
}

/* Button hover effect */
input[type="submit"]:hover,
input[type="reset"]:hover{
     background-color:#0056b3;
}
      
</style>


