<!DOCTYPE html>
<html>
<head>

<style>

body{
     background-color:#f5f5f5;
     font-family:Arial;
}

fieldset{
    border:2px solid #007bff;
    padding:20px;
}

legend{
    color:#007bff;
    font-weight:bold;
}

input{
    margin:5px;
    padding:8px;
}

</style>

</head>

<body>

<form>

<fieldset>
<legend>Areas of Interest</legend>

<input type="checkbox"> Account Executive <br>
<input type="checkbox"> Business Development <br>
<input type="checkbox"> Inside Sales <br>
<input type="checkbox"> Sales Manager <br>
<input type="checkbox">VP Sales <br><br>

<input type="submit" value="Submit">

</fieldset>

</form>

</body>
</html>
